<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>All Employees</title>
    </head>
    <body>
        <h1>Show all Employees</h1>

        <table class="table table-striped" style = "width:100%">
            <tr>

                <th align = "left" scope="col">Id </th>
                <th align = "left" scope = "col">Name</th>
                <th align = "left" scope = "col">Email</th>
                <th align = "left" scope = "col" > Company</th>
                <th align = "left" scope = "col">Start Date</th>
                <th align = "left" scope = "col">End Date</th>
                <th align = "left" scope = "col">Days Worked</th>

            </tr>
            <tr th:each="Employee : ${listOfEmployee}">

                <td th:text="${Employee.ID}"></td>
                <td th:text="${Employee.name}"></td>
                <td th:text="${Employee.email}"></td>
                <td th:text="${Employee.company}"></td>
                <td th:text="${Employee.startDate}"></td>
                <td th:text="${Employee.endDate}"></td>
                <td th:text="${Employee.daysWorking}"></td>

            </tr>
        </table>



        <p><a href="/addemployee">Add a new employee</a></p>
        <p><a href = "/">Go back to the main menu.</a></p>

    </body>
</html>